main {
    text-align: center;
}

div {
    border: 1px red solid;

}

img {
    padding: 5px;
}

main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

@media screen and (min-width: 400px) {
    main {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #two {
        display: grid;
        min-height: 100vh;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "pic1 pic2"
        "pic3 pic4";
    }
    
    #four {
        display: grid;
        min-height: 100vh;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "pic5 pic6"
            "pic7 pic8";
    }


}

@media screen and (min-width: 750px) {
    main {
        display: grid;
        min-height: 100vh;
        grid-template-rows:  10em 1fr 1fr 1fr 1fr 1fr 10em 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "header header"
        "one one"
        "two two"
        "three three"
        "four four"
        "five five"
        "social social"
        "footer footer";
    }


    #header {
        grid-area: header;
    }
    
    #one {
        grid-area: one;
    }
    
    #two {
        grid-area: two;
        display: flex;
        min-height: 100vh;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #three {
        grid-area: three;
    }
    
    #four {
        grid-area: four;
        display: flex;
        min-height: 100vh;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #five {
        grid-area: five;
    }
    
    #social {
        grid-area: social;
    }

    #footer {
        grid-area: footer;
    }
}